.credentials
.idea/*
notebooks/.ipynb_checkpoints/*
.DS_STORE
__pycache__/
*.pyc
extractor/autoencoder/*
helper/loader/*
helper/scraping/*
helper/database/*
notebooks/*
predictor/layers/*
predictor/loss/*
predictor/lstm_with_attention.py
predictor/lstm_with_contrastive.py
routine/train_ae.py
data/*
venv/*